.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background: var(--bg-color);
  transition: background 0.3s ease-in-out;
}

.analyze-card, .report-card, .history-card {
  width: 80%;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: var(--card-bg);
}

h2, h3 {
  margin-bottom: 15px;
  color: var(--text-color);
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.analyze-btn {
  width: 100%;
  padding: 12px;
  background-color: var(--button-bg);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.analyze-btn:disabled {
  background-color: var(--button-disable);
  cursor: not-allowed;
}

.analyze-btn:hover:not(:disabled) {
  background-color: var(--button-hover);
}

.loading-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  background: var(--card-bg);
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  box-shadow: var(--card-shadow);
}

.loading-card p {
  color: var(--text-color);
  font-weight: 500;
}

.score-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;
}

.ai-recommendations {
  font-style: italic;
  color: var(--text-color);
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 5px;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

thead {
  margin: 10px;
}

.table-wrapper {
  overflow: hidden;
}

th {
  position: sticky;
  top: 0px;
  z-index: 1000;
  padding: 10px 10px 10px 3px;
  background: var(--card-bg);;
}

tbody {
  padding: 10px;
}

tr {
  padding: 10px;
}

.header-row,
.body-row {
  padding: 4px;
  line-height: 24px;
}
